
/* ====================== components ====================== */

.header {
    background-size: cover;
    background: url(../img/header.jpg) 50% 50% no-repeat;
    height: 100vh;
    opacity: 0.95;
}

.about-me {
    // TODO: вынести цвет в vars
    background-color: #1D2026;
    color: white;
}
//!!!!!!



.animated-img-1 {
    transition: all .5s;

    &:hover  {
        opacity: 0.6;
        transform: scale(1.2);
    }
}

.logo {
    font-size: 64px;
    font-weight: 600;
}

.z-style {
    top: -17px;
    font-size: 360%;
    right: 5px;
}

/* ====================== utils ====================== */



.height-35-per {
    height: 35%;
}

.line-height-28 {
    line-height: 28px;
}

