@import "framework/mixins/utils";
@import "framework/utils";
@import "vars";

@include make-colors($colors);

@include make-indents((
  auto: auto,
  10: 10px,
  15: 15px,
  20: 20px,
  30: 30px,
  40: 40px,
  80: 80px,
  100: 100px,
));


@include make-font-sizes((
  15: 15px,
  18: 18px,
  24: 24px,
  20: 20px,
  21: 21px,
  32: 32px,
  36: 36px,
  40: 40px,
  46: 46px,
  48: 48px,
  63: 63px,
));

@include make-font-families ((
  roboto: 'roboto_slabregular',
  titillium: 'Titillium Web',
));

@include make-font-weights((
  bold: 700,
));

@include make-opacities((08:0.8, 6: 0.6))

.bold {
  font-weight: 700;
}

@include make-responsive-classes(hidden) {
    display: none;
}

@include make-responsive-classes(flex-column) {
    flex-direction: column;
}

