@import "framework/mixins/utils";
@import "framework/utils";
@import "vars";

@include make-colors($colors);

@include make-indents((
  auto: auto,
  10: 10px,
  15: 15px,
  20: 20px,
  40: 40px,
));


@include make-font-sizes((
  15: 15px,
  18: 18px,
  24: 24px,
  32: 32px,
  46: 46px,
  63: 63px,
));

@include make-font-families ((
  roboto: 'roboto_slabregular',
  titillium: 'Titillium Web',
));

@include make-font-weights((
  bold: 700,
));

@include make-opacities((08:0.8))

.bold {
  font-weight: 700;
}


