
.center-block {
  position: relative;

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.h-margin-auto {
  margin-left: auto;
  margin-right: auto;
}

.align-center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}


