@import "../settings";

@mixin make-responsive-classes($class) {
    .#{$class} {
        @content
    };

    @each $breakpoint-name, $breakpoint-value in $breakpoints {
        .#{$class}-#{$breakpoint-name} {
            @media (min-width: $breakpoint-value) {
                @content;
            }
        }

        .#{$class}-upto-#{$breakpoint-name} {
            @media (max-width: $breakpoint-value - 1) {
                @content;
            }
        }
    }
}

@mixin make-colors($colors) {
    @each $name, $value in $colors {
        .color-#{$name} {
            color: $value;
        }

        .bg-#{$name} {
            background-color: $value;
        }
    }
}

@mixin make-font-sizes($font-sizes) {
    @each $name, $value in $font-sizes {
        @include make-responsive-classes(font-#{$name}) {
            font-size: $value;
        }
    }
}

@mixin make-font-weights($font-weights) {
    @each $name, $value in $font-weights {
        .font-#{$name} {
            font-weight: $value;
        }
    }
}

@mixin make-opacities($opacities) {
    @each $name, $value in $opacities {
        .opacity-#{$name}-until-hover {
            opacity: $value;

            &:hover {
                opacity: 1;
            }
        }

        .opacity-#{$name}-hover {

            &:hover {
                opacity: $value;
            }
        }
    }
}

@mixin make-font-families($items) {
    @each $name, $value in $items {
        .font-#{$name} {
            font-family: $value;
        }
    }
}

@mixin make-indents($indents) {
    @each $name, $value in $indents {
        @include make-responsive-classes(margin-top-#{$name}) {
            margin-top: $value;
        }

        @include make-responsive-classes(margin-left-#{$name}) {
            margin-left: $value;
        }

        @include make-responsive-classes(margin-right-#{$name}) {
            margin-right: $value;
        }

        @include make-responsive-classes(h-margin-#{$name}) {
            margin-left: $value;
            margin-right: $value;
        }

        @include make-responsive-classes(margin-bottom-#{$name}) {
            margin-bottom: $value;
        }

        @include make-responsive-classes(padding-top-#{$name}) {
            padding-top: $value;
        }

        @include make-responsive-classes(padding-left-#{$name}) {
            padding-left: $value;
        }

        @include make-responsive-classes(padding-right-#{$name}) {
            padding-right: $value;
        }

        @include make-responsive-classes(h-padding-#{$name}) {
            padding-left: $value;
            padding-right: $value;
        }

        @include make-responsive-classes(padding-bottom-#{$name}) {
            padding-bottom: $value;
        }
    }
}